body {
    margin: 0;
    padding: 0;
    
    font-family: 'Lato', Arial, sans-serif;
    font-size: 12px;
    line-height: 21,56px;
    font-weight: 400;
    color: #767e9e;
  }

  a {
    text-decoration: none;
  }

  li {
      padding-left: 14px;
      
      font-size: 12px;
      line-height: 6,32px;
      letter-spacing: -0.3px;
      font-weight: 700;

      text-transform: uppercase;
  }

  .main-content {
     max-width: 1020px; 
     margin: 0 auto;
  }

  .main-header {
    background-color: #2d303a;
    width: 100%;
    height: 89px;
    border-bottom: 6px solid #323746;
  }

  .site-navigation {
    list-style: none;  /**Убирает маркеры**/
    display: flex;
    padding-right: 40px;
  }

  .color-logo {
    padding-left: 40px;
    padding-top: 8px;

    font-size: 25px;
    line-height: 6,32px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }

  .color-star {
    color: #e36861;  
  }

  .site-navigation a {
    color: #ffffff;
  }

  .site-navigation li:first-child a {
    color: #e36861;  
  }

  .main-navigation {
    display: flex;

    justify-content: space-between;
    align-items: baseline;
  }

  .dot-color {
    color: #494e62;  
  }

  .site-navigation a:hover {
    color: #e36861;  
  }

  .slider {
    background-color: #f06c64;
    width: 100%;
    height: 595px;
    border-bottom: 5px solid #ea676b;
  }

  .left-arrow-position {
    position: absolute;
    left: 205px;
    top: 376px;
  }

  .right-arrow-position { 
    position: absolute;
    left: 1127px;
    top: 376px;
  }

  .shadow1-position {
    opacity: 0.15;
    
    position: absolute;
    left: 275px;
    top: 148px;
  }

  .base-position {
    position: absolute;
    left: 275px;
    top: 148px;
  }

  .outer-sircle-position {
    position: absolute;
    left: 377px;
    top: 164px;  
  }

  .red-dot-position {
    position: absolute;
    left: 380px;
    top: 166px; 
  }

  .speaker-position {
    position: absolute;
    left: 365px;
    top: 184px;  
  }

  .layer1-position {
    position: absolute;
    left: 286px;
    top: 210px;  
  }

  .circle-position {
    position: absolute;
    left: 360px;
    top: 555px;  
  }

  .square-position {
    position: absolute;
    left: 374px;
    top: 568px;  
  }

  .shadow2-position {
    opacity: 0.15;
    position: absolute;
    left: 589px;
    top: 269px;  
  }

  .base2-position {
    position: absolute;
    left: 588px;
    top: 269px;  
  }

  .outer-circle-position2 {
    position: absolute;
    left: 1020px;
    top: 371px; 
  }

  .red-dot-position2 {
    position: absolute;
    left: 1023px;
    top: 373px;
  }

  .speaker2-position {
    position: absolute;
    left: 1005px;
    top: 359px;  
  }

  .layer2-position {
    position: absolute;
    left: 645px;
    top: 280px;
  }

  .circle2-position {
    position: absolute;
    left: 596px;
    top: 355px;  
  }

  .square2-position {
    position: absolute;
    left: 609px;
    top: 368px;  
  }
  
  #layer1 { z-index: 1; }
  #layer2 { z-index: 2; }
  #layer3 { z-index: 3; }
  #layer4 { z-index: 4; }
  #layer5 { z-index: 5; }
  #layer6 { z-index: 6; }
  #layer7 { z-index: 7; }
  #layer8 { z-index: 8; }
  #layer9 { z-index: 9; }
  #layer10 { z-index: 10; }
  #layer11 { z-index: 11; }
  #layer12 { z-index: 12; }
  #layer13 { z-index: 13; }
  #layer14 { z-index: 14; }
  #layer15 { z-index: 15; }
  #layer16 { z-index: 16; }

  .our-services {
    width: 100%;
    height: 468px;  

    padding-top: 28px;

    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }
  
  .main-content-services {
    max-width: 940px;
    margin: 0 auto;
  }

  .name-block {
    font-size: 30px;
    line-height: 17,86px;
    font-weight: 900;
    letter-spacing: -0.2px;

    margin-bottom: 20px;

    color: #666d89;
  }

  .subtitle-block {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.08px;
    word-spacing: 0.5px;

    color: #767e9e;  
  }

  .subtitle-block span {
    word-spacing: -0.6px;  
  }

 .flex {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   max-width: 940px;
   margin: 0 auto;

   padding-top: 23px;
 }

 .services {
   display: flex;
   justify-content: space-between;
   width: 299px;
   margin-bottom: 27px;
 }

  .services-icon {
    width: 59px;
    height: 59px;
    padding-top: 4px;
  }

  .services-content {
    width: 220px;
  }

  .services-title {
    margin: 0;
    font-size: 18px;
    line-height: 17,86px;
    font-weight: 900;
    color: #666d89;
  }

  .services-description {
    margin: 8px 0 0;
    height: 66px;

    font-size: 12px;
    letter-spacing: -0.5x;
    line-height: 21.56px;
    font-weight: 400;
    text-align: justify;

    overflow: hidden;
    color: #767e9e;
  }