@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato-Black.ttf");
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #f2f2f2;
    min-width: 1020px;
    margin: 0 auto;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
}

.marketing-container {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.wrapper-portfolio {
    padding: 63px 20px 20px 40px;
}

.header-portfolio {
    font-size: 30px;
    font-weight: 600;
    color: #666d89
}

.desc-portfolio {
    margin-top: 23px;
    font-size: 17px;
    font-weight: 300;
    color: #767e9e;
    text-align: justify;
    width: 690px;
}

.portfolio-buttons {
    margin-top: 14px;
    width: 290px;
}

.btn-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 17px;
    display: inline-block;
    text-align: center;
    padding: 4px 8px 1px 6px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #767e9e;
    vertical-align: middle;
}

.btn:hover {
    cursor: pointer;
    color: #dedede;
    border-color: #c5c5c5;
}

.portfolio-container {
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(3, 207px);
    display: grid;
    max-height: 601px;
    overflow: hidden;
    margin-top: 19px;
    margin-bottom: 43px;
}

.about {
    padding-top: 5px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.wrapper-about {
    padding: 52px 1px 1px 40px;
}

.about-head {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
}

.about-desc {
    letter-spacing: -0.2px;
    color: #767e9e;
    width: 940px;
    margin-top: 19px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

.about-container {
    display: grid;
    max-height: 600px;
    overflow: hidden;
    margin: 43px 0 63px 40px;
    grid-template-columns: 319px 321px 320px;
    grid-template-rows: 300px 111px 35px;
}

.about-items-text {
    padding-top: 18px;
}

.about-items-text-name {
    font-size: 18px;
    line-height: 16px;
    font-weight: 900;
    color: #666d89;
    text-align: justify;
    width: 130px;
    display: inline-block;
    letter-spacing: -0.09px;
}

.about-items-text-description {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    margin-top: 8px;
    width: 300px;
    text-align: justify;
    letter-spacing: -0.012em;
}

.about-us-socials {
    padding-left: 1px;
}

.about-us-socials-icon {
    margin-right: 4px;
}